body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

.hidden {
    position: absolute;
    left: -9999999999px;
    width: 1px;
    height: 1px;
    opacity: 0;
}

.wrap {
    width: 1140px;
    margin: 0 auto;
}

.center {
    padding: 0 calc(50% - 1140px / 2);
}

@media (max-width: 1180px) {
    .wrap {
        width: 736px;
    }
    
    .center {
    padding: 0 calc(50% - 736px / 2);
}
}