.promo {
    background-color: #F1E4E6;
}

.promo-wrap {
    background-image: url(../img/promo-bg.png);
    min-height: 764px;
    background-position-x: -20%;
    background-position-y: bottom;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.promo-title {
    margin: 0;
    width: 40%;
    border-left: 12px solid $pink;
    padding-left: 16px;
}

.promo-title-first {
    font-family: 'Lato';
    font-weight: 900;
    font-size: 48px;
    line-height: 58px; 
}

.promo-title-second {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
}

.color-pink {
    color: $pink;
}

@media (max-width: 1180px) and (min-width: 768px) {
    .promo-wrap {
    min-height: 365px;
    background-size: 365px;
    }
}

@media (max-width: 768px) {
    .promo{
        height: 325px;
        display: flex;
        align-items: center;
    }

    .promo-wrap {
        background-image: none;
        justify-content: center;
        min-height: 0px;
        
    }

    .promo-title{
        width: 100%;
        align-self: center;
    }

    .promo-title-first {
        font-size: 38px;
        font-weight: 900;
        line-height: 46px;  
    }
    
    .promo-title-second {
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
    }
}